.border{
    /* border: 2px solid red; */
    margin: 3px;
}
.flex{
    display:flex ;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #161616;
}
.rounded{
    border-radius: 7px;
}
.m1{
    margin: 5px;
}
.p1{
    padding: 10px;
}
.width{
    width: 19px;
}
.gap{
    gap: 15px;
}
.font{
    font-family: "Roboto","sans-serif"; 
}
.m2{
    margin-top: 15px;
    margin-right: 15px;
}
.transparent{
    background: transparent;
}